@import "./variables/variables";




.main-contacto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.formulario-contacto{
    display: flex;
    background: $fondo-blur;
    box-shadow: 0 8px 32px 0 $sombra-1;
    backdrop-filter: blur( 4px );
    border-radius: $radio-borde-m;
    border: $borde-xs solid $negro;
    width: 500px;
    padding: 20px;
    font-weight: $negrita;
    flex-direction: column;
    align-items: center;
    animation: $zoom 1s;
}


input{
    margin: 20px;
    border: $sin-borde;
    background: $transparente;
    border-bottom: $borde-xs solid $gris-1;
}


select{
    background: $transparente;
    backdrop-filter: blur( 4.5px );
    border-radius: $radio-borde-xs;
}


.especifique-su-consulta{
    margin: 20px;
}


textarea{
    background-color: $fondo-textarea;
}

.form-nombre-apellido{
    width: min-content;
    text-align: center;
}

.caja-formulario{
    padding: 50px 0px 50px 0px;
}


.boton-enviar{
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
    background: $transparente;
    backdrop-filter: blur( 4.5px );
    border-radius: $radio-borde-xs;
}


.boton-enviar:hover{
    background-color: $gris-3;
    color: $blanco;
    transition: all .3s;
}



.numero-wpp{
    display: flex;
    align-items: center;
    font-weight: $negrita;
}


.texto-redes{
    display: flex;
    align-items: center;
    text-decoration: $sin-decoracion;
    color: $negro;
    font-weight: $negrita;
    justify-content: space-evenly;
}