@import "./variables/variables";




.flex-donde-nos-encontras{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    
}


.mapa{
    width: 800px;
    height: 400px;
    box-shadow: 0 8px 32px 0 $sombra-1;
    backdrop-filter: blur( 4.5px );
    border-radius: $radio-borde-m;
}


.direccion{
    text-align: center;
    height: 70px;
    margin: 0;
    display: flex;
    color: $negro;
    align-items: center;
    justify-content: center;
    font-weight: $negrita;
    font-size: large;
}