@import "./variables/variables";



.headerIndex{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}




.nav-index{
    display: flex;
    animation: $degradado-hacia-izquierda 1.2s;
    justify-content: end;
    align-items: flex-start;
    padding-right: 10px;
}




.flex-ul-nav-index{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}




.main-index{
    margin-bottom: 200px;
    display: grid;
    animation: $zoom 1.5s;
    justify-items: center;
}




.titulo-index{
    font-family: $fuente-cursiva;
    font-size: 120px;
    font-style: $oblicuo;
    margin: 0;
}




.subtitulo-index{
    margin: 0;
    padding-left: 250px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: $negrita;
    font-style: $oblicuo;
}