@import "./variables/variables";




.main-preguntas-frecuentes{
    font-size:large;
    font-style: $oblicuo;
    background: $transparente;
    box-shadow: 0 8px 32px 0 $sombra-1;
    backdrop-filter: blur( 4px );
    border-radius: $radio-borde-s;
    padding: 15px;
    margin: 150px 0px 150px 0px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    gap: 60px;
}




.pregunta1{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.pregunta2{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.pregunta3{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.respuestas{
    color:$gris-3;
    font-weight: $negrita;
    margin-top: 30px;
}