@import "./variables/variables";




.flex-main-trabajos{
    gap: 50px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}



.tarjetas{
    padding: 20px;
    width: min-content;
    background: $semi-transparente;
    box-shadow: 0 8px 32px 0 $sombra-1;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: $radio-borde-s;
}




.fotos-tarjetas{
    border-radius: $radio-borde-xs;
    width: 300px;
}




.caja-texto-tarjetas{
    margin-top: 20px;
    border-top: $borde-xs solid $gris-2;
    padding-top: 10px;
}

