*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import "index";
@import "contacto";
@import "donde-nos-encontras";
@import "preguntas-frecuentes";
@import "trabajos";
@import "general";
@import "mediaqueris";
@import "mixin";
@import "extend";

