// colores
$negro: black;
$beige: wheat;
$gris: grey;
$gris-topo: #a1a1a1;
$gris-oscuro: #313131;
$blanco: white;




// fondos
$fondo-blur-beige: #f5deb3b4;
$fondo-blur: #ffffff66;
$fondo-textarea: #ffffff94;




// botones
$fondo-boton: #ffffff00;




// sombra
$sombra: #000000db;


