@import "../variables/variables";




.flex-donde-nos-encontras{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    
}


iframe{
    box-shadow: 0 8px 32px 0 $sombra;
    backdrop-filter: blur( 4.5px );
    border-radius: 20px;
}


.direccion{
    height: 70px;
    margin: 0%;
    display: flex;
    color: $negro;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}