@import "../variables/variables";



body{
    font-family: 'PT Sans', sans-serif;
    background-image: url(../multimedia/background.jpg);
    background-position: center;
    background-size: cover;
}




.header-otras-paginas{
    border-bottom: 1px solid $negro;
    background-color: $beige;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}




.nav-otras-paginas{
    margin-top: 10px;
}




.footer {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background: #f5deb3b4;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 0px 20px 1px 20px;
  }





.a{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration:none;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    color: #495057; 
}




.a:hover{
    color: #fff;
}

.a:hover:after{
    height: 100%;
}

.a:after{
    content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: $gris-oscuro;
  border-radius: 2px solid black;
}




.titulo-nav{
    padding-left: 25px;
    font-family: 'Hurricane', cursive;
    font-style: oblique;
    animation: fadeInDown 1s;
}




.header-img{
    height: 150px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    border: 1px ridge rgb(228, 200, 164);
    transition: border 0.2s;
    animation: fadeInLeft 1s;
}




.header-img:hover{
    border: #383838 solid 1px;
}





.logo-footer{
    width: 50px;
}




.p-footer{
    color: $gris-oscuro;
    width:min-content;
}




.p-footer:hover{
    color: $gris-topo;
    width: min-content;
}