@import "../variables/variables";



body{
    background-image: url(../multimedia/background.jpg);
    background-position: center;
    background-size: cover;
}




.header-otras-paginas{
    border-bottom: $borde-xs solid $negro;
    background-color: $beige-1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}




.nav-otras-paginas{
    margin-top: 10px;
}




.footer {
    font-family: $fuente-imprenta;
    font-weight: $negrita;
    background: $beige-2;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 0px 20px 1px 20px;
  }





.a{
    font-family: $fuente-imprenta;
    font-weight: $negrita;
    text-decoration:none;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
    position: relative;
    outline: none;
    border-radius: $borde-m;
    z-index: 0;
    color: $gris-3; 
}




.a:hover{
    color: $blanco;
}

.a:hover:after{
    height: 100%;
}

.a:after{
    content: "";
  position: absolute;
  z-index: -1;
  transition: all .3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: $gris-4;
  border-radius: $borde-s solid $negro;
}




.titulo-nav{
    padding-left: 25px;
    font-family: $fuente-cursiva;
    font-style: $oblicuo;
    animation: $degradado-hacia-abajo 1s;
}




.header-img{
    height: 150px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    border: $borde-m solid $beige-1;
    transition: border 0.2s;
    animation: fadeInLeft 1s;
}




.header-img:hover{
    border: $gris-4 solid $borde-xs;
}





.logo-footer{
    width: 50px;
}




.p-footer{
    color: $gris-4;
    width:min-content;
}




.p-footer:hover{
    color: $gris-2;
    width: min-content;
}