@import "../variables/variables";




.flex-main-trabajos{
    gap: 50px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}



.tarjetas{
    padding: 20px;
    width: min-content;
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.788);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}




.fotos-tarjetas{
    border-radius: 5px;
    width: 300px;
}




.caja-texto-tarjetas{
    margin-top: 20px;
    border-top: 1px solid $gris-topo;
    padding-top: 10px;
}

